
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{=response.title or request.application}}</title>

<!--
   -<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   -<script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>
   -->
    <script src="{{=URL(request.application,'static', 'vendor/jquery.min.js')}}"></script>
    <script src="{{=URL(request.application,'static', 'vendor/jquery-ui.min.js')}}"></script>
    <script src="{{=URL(request.application,'static', 'vendor/highcharts.js')}}"></script>

    {{ response.include_meta()
       response.include_files() }}
  </head>

  <body>
    {{include}}
  </body>
</html>
  

