<!-- container -->
<div class="widget-group">
  <div class='widget-container' 
    style='width:{{wgtWidth}}px; height:{{wgtHeight}}px; font-size: {{fontSize}}'>


  <!--<svg height="{{W/2*unit0 - 0.5*unit0}}" width="{{W*unit0-0.2*unit0}}">-->
  <svg height="100%" width="100%">
    <image x="10%" y="10%" xlink:href="static/build/images/Photo-diode.svg" 
            height="{{0.1*wgtWidth}}" width="{{0.1*wgtWidth}}"/>

    <svg x="65%" y="15%">
    <g transform=scale(0.8) style="stroke: #ffffff; stroke-width: 6; fill-opacity: 0">
      <rect x="10" y="10" width="100" height="100"></rect>
      <line x1="10" y1="110" x2="110" y2="10" />
      <line x1="30" y1="30" x2="60" y2="30" style="stroke-width: 3"/>
      <line x1="30" y1="40" x2="42" y2="40" style="stroke-width: 3"/>
      <line x1="48" y1="40" x2="60" y2="40" style="stroke-width: 3"/>
      <text x="70" y="90" style="font-size: 50; fill: #ffffff">~</text>
    </g>
    </svg>

    <line x1="22%" y1="23.3%" x2="63%" y2="23.3%" style="stroke: #ffffff; stroke-width: 8"/>
    <line x1="33%" y1="23.3%" x2="33%" y2="60%" style="stroke: #ffffff; stroke-width: 8"/>
    <line x1="48%" y1="23.3%" x2="48%" y2="60%" style="stroke: #ffffff; stroke-width: 8"/>
       

    <!-- -->
    <text x="20%" y="30%" text-anchor="middle" class="text">
      <tspan x="20%" dy="0"> {{sensors.9.value}} {{sensors.9.unit}} </tspan>
      <tspan x="20%" dy="1.2em"> {{sensors.7.value}} {{sensors.7.unit}} </tspan>
    </text>

    <text x="" y="20%" text-anchor="end" class="text">
      <tspan x="80%" dy="0">     {{grid.1.value}} {{grid.1.unit}} (L1)</tspan>
      <tspan x="80%" dy="1.2em"> {{grid.2.value}} {{grid.2.unit}} (L2)</tspan>
      <tspan x="80%" dy="1.2em"> {{grid.3.value}} {{grid.3.unit}} (L3)</tspan>
      <tspan x="80%" dy="1.2em"> {{grid.4.value}} {{grid.4.unit}}&nbsp;&nbsp;&nbsp;</tspan>
    </text>

    <text x = "41%" y="20%" text-anchor="middle" class="text">
      {{sensors.0.value}} {{sensors.0.unit}}
    </text>

    <text x = "60%" y="20%" text-anchor="middle" class="text">
      {{grid.0.value}} {{grid.0.unit}}
    </text>


    <!-- battery One -->
    <rect x = "{{batOneX + 0.5 * batFullWidth - 7}}" y="{{batOneY - 10}}" rx="2"
          width="20" height="16" class="battery-knot"></rect>

    <rect x = "{{batOneX}}" y="{{batOneY}}"  rx="4"
            width="{{batFullWidth+6}}" height="{{batFullHeight+6}}" 
            class="battery-border"> </rect>

    <rect x = "{{batOneX + 3}}" y="{{batOneY + 3 + batFullHeight - batHeight(battery1.1.value)}}" 
          width="{{batFullWidth}}" height="{{batHeight(battery1.1.value)}}" 
          class="battery"> </rect>

    <text x="" y="{{batOneY+0.5*batFullHeight+3}}" text-anchor="middle" class="battery-text">
      <tspan
      x="{{batOneX+0.5*batFullWidth + 3}}" dy="0">{{battery1.1.value}} %</tspan><tspan 
      x="{{batOneX+0.5*batFullWidth + 3}}" dy="1.5em">{{battery1.0.value}} {{battery1.0.unit}}</tspan>
    </text>

    <text x="{{batOneX-unit0}}" y="{{batOneY-1.5*unit0}}" text-anchor="end" class="text">
      <tspan
      x="{{batOneX-0.5*unit0}}" dy="0"    >{{(sensors.1.value).toPrecision(4)}}</tspan><tspan 
      x="{{batOneX-0.5*unit0}}" dy="1.2em">{{(sensors.2.value).toPrecision(4)}}</tspan><tspan
      x="{{batOneX-0.5*unit0}}" dy="1.2em">{{(sensors.3.value).toPrecision(4)}}</tspan>
    </text>

    <text x="" y="{{batOneY-1.5*unit0}}" text-anchor="start" class="text">
      <tspan x="{{batOneX-0.3*unit0}}" dy="0"    >{{sensors.1.unit}}</tspan>
      <tspan x="{{batOneX-0.3*unit0}}" dy="1.2em">{{sensors.2.unit}}</tspan>
      <tspan x="{{batOneX-0.3*unit0}}" dy="1.2em">{{sensors.3.unit}}</tspan>
    </text>

    <!-- battery Two -->
    <rect x = "{{batTwoX + 0.5 * batFullWidth - 7}}" y="{{batTwoY - 10}}" rx="2"
          width="20" height="16" class="battery-knot"></rect>

    <rect x = "{{batTwoX}}" y="{{batTwoY}}" rx="4"
            width="{{batFullWidth+6}}" height="{{batFullHeight+6}}" 
            class="battery-border"> </rect>

    <rect x = "{{batTwoX + 3}}" y="{{batTwoY + 3 + batFullHeight - batHeight(battery2.1.value)}}" 
          width="{{batFullWidth}}" height="{{batHeight(battery2.1.value)}}" 
          class="battery"> </rect>

    <text x = "{{batTwoX+0.5*batFullWidth + 3}}" y="{{batTwoY+0.5*batFullHeight+3}}" text-anchor="middle" class="battery-text">
      <tspan
      x="{{batTwoX+0.5*batFullWidth + 3}}" dy="0">{{battery2.1.value}} %</tspan><tspan 
      x="{{batTwoX+0.5*batFullWidth + 3}}" dy="1.5em">{{battery2.0.value}} {{battery2.0.unit}}</tspan>
    </text>

    <text x="{{batTwoX}}" y="{{batOneY-1.5*unit0}}" text-anchor="end" class="text">
      <tspan
      x="{{batTwoX+2.0*unit0}}" dy="0"    >{{(sensors.4.value).toPrecision(4)}}</tspan><tspan 
      x="{{batTwoX+2.0*unit0}}" dy="1.2em">{{(sensors.5.value).toPrecision(4)}}</tspan><tspan
      x="{{batTwoX+2.0*unit0}}" dy="1.2em">{{(sensors.6.value).toPrecision(4)}}</tspan>
    </text>

    <text x="" y="{{batTwoY-1.5*unit0}}" text-anchor="start" class="text">
      <tspan x="{{batTwoX+2.2*unit0}}" dy="0"    >{{sensors.1.unit}}</tspan>
      <tspan x="{{batTwoX+2.2*unit0}}" dy="1.2em">{{sensors.2.unit}}</tspan>
      <tspan x="{{batTwoX+2.2*unit0}}" dy="1.2em">{{sensors.3.unit}}</tspan>
    </text>

    <!-- Summary -->
    <text x="{{BalanceX}}%" y="{{BalanceY}}%" class="text" text-anchor="start" font-weight="bold"> 
        <tspan x="{{BalanceX}}%" dy="0"> Generated PV Energy </tspan> 
        <tspan x="{{BalanceX}}%" dy="1.5em"> Stored PV Energy </tspan> 
        <tspan x="{{BalanceX}}%" dy="1.5em"> Energy Fed to Grid </tspan> 
    </text>

    <text x="" y="{{BalanceY}}%" class="text" text-anchor="end"> 
        <tspan 
        x="{{BalanceX+16}}%" dy="0">{{sensors.10.value}} {{sensors.10.unit}}</tspan><tspan
        x="{{BalanceX+16}}%" dy="1.5em">{{(sensors.11.value-sensors.12.value).toPrecision(4)}} {{sensors.11.unit}}</tspan><tspan
        x="{{BalanceX+16}}%" dy="1.5em">{{(sensors.13.value-sensors.14.value).toPrecision(4)}} {{sensors.13.unit}}</tspan> 
    </text>
  </svg>

  </div>
</div>

 <!-- container -->


<style>
    #title {
        font-size: 40%;
        height: 8%;
    }
    .text {
        fill: white;
        font-size: 26%;
    }
    .battery {
        fill: green;
    }
    .battery-text {
        fill: white;
        font-size: 32%;
    }
    .battery-border {
      fill-opacity: 0.0;
      stroke: white;
      stroke-width: 6px;
    }
    .battery-knot {
      fill: white;
    }
    #chart {
        font-size: 60%;
    }
#bs {
    font-size: 20px;
    margin-bottom: 5px;
}
#bar {
    display: inline;
    background-color: green;
}
</style>


<script>
  var _ = require('underscore');
  require("../helper.js");
component.exports = {
  adapt: ['Backbone'],
  data: {
    sensors: [],
    sensorlist: [],
    W: 24,
    wgtWidth: 0,
    wgtHeight: 0,
    fontSize: 0,
    batOneX: 0,
    batOneY: 0,
    batTwoX: 0,
    batTwoY: 0,
    batFullWidth: 0,
    batFullHeight: 0,
    BalanceX: 75,
    BalanceY: 80,
    unescape: function(str) {
      return unescape(str);
    },
    batHeight: function(per) {
      return this.data.batFullHeight*per/100;
    },
    percentage: function(f) {
      return f + ' %';
    },
    ts2date: function(s) {
      return ts2date(s)
    }
  },
  init: function() {
    var self = this;
    this.observe('unit0', self.setVars);
  },
  setVars: function() {
    var width = this.data.W * this.data.unit0;
    var height = 0.45 * width;
    this.set('wgtWidth', width);
    this.set('wgtHeight', height);
    this.set('fontSize', this.data.unit0 + 'px');
    this.set('batOneX', 0.3 * width);
    this.set('batOneY', 0.6 * height);
    this.set('batTwoX', 0.45 * width);
    this.set('batTwoY', 0.6 * height);
    this.set('batFullWidth', 1.3*this.data.unit0);
    this.set('batFullHeight', 2*this.data.unit0);
  },
  setSensors: function() {
    var sensors = [];
    var self = this;
    _.each(this.data.sensorlist, function(sensorid) {
      sensors.push( self.data.sensorGroup.get(sensorid) );
    });
    this.set('sensors', sensors);
  }

};
</script>

