<div class="widget-group" style="font-size: {{unit0}}px; width: 100%">
<div id='title'>Alarm </div>
<ul>
  {{#sensors:i}}
  <li class='widget-container' id='widget_{{i}}' data-sid={{sensorlist[i]}}
      style='width: 50%; height: {{3.2*unit0}}px'
      draggable="true">
    <div id='data'>
        <span id='value'>{{ value }}</span>
        <span id='unit'>{{ unescape(unit) }} </span>
    </div>
    <div id='label'> 
        {{ label }}
        <span id='sub_label'>{{ sub_label }}</span>
    </div>
  </li>
  {{/sensors}}
</ul>
</div>

<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        position: relative;
        float: left;
    }
    #title {
        font-size: 50%;
        font-weight: bold;
        height: 8%;
        background: #3F3F3F;
        padding-left: 6px;
        padding-top: 4px;
    }
    #data {
        position: absolute;
        color: white;
        text-align: center;
        width: 100%;
        top: 35%;
    }
    #data #value {
        font-size: 80%;
    }
    #data #unit {
        font-size: 50%;
    }
    #label {
        position: absolute;
        font-size: 36%;
        top: 2%;
        left: 2%;
        color: #a8c2b8;
    }
</style>
    

<script>
var _ = require('underscore');
component.exports = {
  data: {
    unescape: function(str) { return unescape(str); },
    W: 12
  },
  beforeInit: function() {
    slist = this.findAll("li", {live: true});
  },
  init: function() {
    var self = this;
    this.observe('sensors.*.label', function(val, oldval, keypath) {
        //console.log(keypath + ":" + oldval + "-->" + val);
        this.draghandler();
      }, {
        defer: true
    });
    console.log('hahah');
    console.log($(".widget-group").width());
  },
  adapt: ['Backbone'],
  draghandler: function () {
    _.each(
      this.findAll(".widget-container"),
    function(el) {
      var sid = $(el).data('sid');
      $(el).on("dragstart", function(evt) {
        evt.originalEvent.dataTransfer.setData('sid', sid);
        evt.originalEvent.dataTransfer.setData('gid', 0);
        console.log(evt.originalEvent.dataTransfer.getData('sid'));
      });
    });
  },
  setSensors: function() {
    var sensors = [];
    var self = this;
    _.each(this.data.sensorlist, function(sensorid) {
      sensors.push( self.data.sensorGroup.get(sensorid) );
    });
    this.set('sensors', sensors);
  },
  test: function() {
    //console.log(this.data.sensors.0.label);
  }
};
</script>

