<div class="widget-group">
  <div class='widget-container' 
    style=" width: {{W*unit0}}px; height: {{Math.round(0.58*W*unit0)}}px; 
    font-size: {{Math.round(0.5*unit0)}}px"> 

    <!-- menu bar -->
    <div id='trend-titlebar' 
      style="width: {{0.98*W*unit0}}px height: {{Math.round( 2.0*unit0 )}}px">
      <div style="float: left">
        <ul class='h-buttons' id='legend'></ul>
      </div>
      <div style="float: right">
        <!--<div style="width: {{0.7*unit0}}px; height:{{0.7*unit0}}px; 
          background: url('display4/static/images/clock.jpg'); background-size: cover"> </div>-->
        <div style="width: {{Math.round(0.8*unit0)}}px; height:{{Math.round(0.8*unit0)}}px; 
          background: url('display4/static/images/adei-mono.gif'); background-size: cover"></div>
      </div>
    </div>
    
    <!-- chart -->
    <div id='highchart-div'  style="width: {{0.98*W*unit0}}px; height: {{12.1*unit0}}px"> </div>
</div>
</div>


<style>
    .widget-container {
        padding: 4px;
    }
    #trend-titlebar {
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2px;
        height: 5%;
    }
    #highchart-div {
        margin: 6px auto;
    }
    #legend li{
        background-color: #3f3f3f;
        color: white;
        margin: 0px;
        margin-right: 6px;
        padding: 0 8px;
    }
</style>


<script>
    require('highcharts');
    require('jquery-ui');

    Highcharts.setOptions({
      title: { text: null },
      legend: { enabled: false },
      exporting: { 
        buttons: { contextButton: {enabled: false } } 
      },
      xAxis: {
        lineWidth: 3,
        tickWidth: 3,
        labels: { style: {fontSize: '90%'} },
        type: 'datetime',
      },
      yAxis: {
        gridLineWidth: 0,
        lineWidth: 3,
        tickWidth: 3,
        labels: { style: {fontSize: '90%'} },
      },
      chart: { 
        backgroundColor: '#3f3f3f',
        style: {
          fontFamily: 'Carlito',
          fontSize: '100%',
          color: 'white'
        }
      },
      series: [],
    });

    var add = function(chart) {
        chart.addAxis({ title: {text: 'Rainfall'} })
    };

    component.exports = {
      adapt: ['Backbone'],
      data: { W: 24 },
      beforeInit: function () {
      },
      init: function() {
      },
      initchart: function () {
         
        //  initialize highchart instance 
        //  at the moment, it should be called after sensors are set 

        var self = this;
        var sensors = this.data.sensors;
        var $c = $(this.find('#highchart-div'));

        // initial highcharts
        $c.highcharts({});

        // initial series for each sensor
        _.each(sensors, function(sensor) { 
          self.initSerie(sensor) 
        });

        // update series with new data
        var pattern = /sensors\.(\d+)\.tss/;
        this.observe('sensors.*.tss', function(newval, oldval, keypath) {
            var i = pattern.exec(keypath)[1];
            console.log(newval, oldval, keypath, i);
            if ( typeof(newval) === 'object' )
                self.updateSerie(i);
        });

        // drop events
        $c.on('dragover', function( evt ) { 
          evt.preventDefault() 
        }).on('drop', function( evt ) {
          var sid = evt.originalEvent.dataTransfer.getData('sid');
          self.addSensor(sensorGroup, sid);
        });
      },
      // chart functions
      removeSensor: function(i) {
        $(this.find('#highchart-div')).highcharts().series[i].remove();
        $(this.find('#legend')).children()[i].remove();
        this.splice('sensorlist', i, 1);
        this.splice('sensors', i, 1);
      },
      addSensor: function(sensorGroup, sid) {
        var sid = parseInt(sid);
        var sensor = sensorGroup.get(sid);
        this.initSerie(sensor);
        this.push('sensors', sensor);
        this.push('sensorlist', sid);
      },
      initSerie: function(sensor) {
         var n = sensor.get('label');
         var u = sensor.get('unit');
         var v = sensor.get('unit_name');
         var chart = $(this.find('#highchart-div')).highcharts();

         var yaxisId = v + "_" + u;
         console.log(chart.yAxis[0]);

         var serie = chart.addSeries({name: n});
         var yaxis = chart.yAxis;
         
         $('<li id="lg" style="color: '+serie.color+'">'+serie.name+'</li>')
              .click(function(){serie.visible ? serie.hide() : serie.show();})
              .mouseenter(function(){serie.setState('hover');})
              .appendTo($(this.find('#legend'))[0]);
      },
      updateSerie: function(i) {
        var $c = $(this.find('#highchart-div'));
        var $d = $(this.find('#legend'));
        var sensor = this.data.sensors[i];
        var v = sensor.get('values');
        var t = sensor.get('tss');
        $c.highcharts().series[i].setData(_.zip(t, v));
      },
      setSensors: function(sensorGroup) {
        var sensors = [];
        _.each(this.data.sensorlist, function(sensorid) {
          sensors.push( sensorGroup.get(sensorid) );
        });
        this.set('sensors', sensors);
      }
    };

</script>
